<h1 class="home-top">ようこそ Bookersへ！</h1>

<p class=home-explain>Bookers では、さまざまな書籍に関するあなたの意見や</p>

<p class=home-explain>印象を共有し交換することができます</p>

<span class= "start-link">
    <%= link_to "start", "/books" %>
</span>